metadata:
  namespace: wfo-dev-duck-dev-w2
  releaseName: c15-vhernan61-cicd
  releaseVersion: 1.0.0
  target: duck-dev-w2
  iamRole: null
replicaCount: 1
nodeLabel: agent
image:
  repository: {{ CI_REGISTRY_IMAGE }}/{{ CI_COMMIT_REF_SLUG }}:{{ CI_COMMIT_SHA}}
  pullPolicy: Always
  pullSecrets:
    - name: bootcamp-app-secret
container:
  multiPorts:
    - name: admin
      containerPort: 8080
      protocol: TCP
  healthcheck:
    path: /
    scheme: HTTP
    portName: admin
resources:
  requests:
    cpu: 0.1
    memory: 256Mi
  limits:
    cpu: 0.2
    memory: 256Mi
variables: null
volumeMaps: null
persistentVolumeClaims: null
secrets: null
secretMaps: null
configMaps: null
envFrom:
  configMaps: []
  secrets: []
ingress:
  enabled: true
  ingressType: HTTP
  applicationType: internal
  serviceEndpoint: c15-vhernan61-cicd.wfo-dev-duck-dev-w2.kube.t-mobile.com
  multiPaths:
    - path: /
      portName: admin
tls:
  enabled: false
  secretName: ""
autoscale:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  cpuAverageUtilization: 50
telemetry:
  enabled: false
  path: /prometheus
  port: "8080"
  scheme: HTTP
global:
  ttl: 1d
  expiresAt: ""
annotations:
  deployment:
    swaggerUri: ""
openTelemetry:
  enabled: false
  exporterOtlpEndpoint: ""
  resourceAttributes: ""
